app/config/parameters.yml
web/bundles/
web/tmp*
code_check.php
app/bootstrap*
app/cache/*
app/logs/*
vendor/
app/config/parameters.yml
composer.lock
composer.phar
web/js/*
web/css/*
web/*.log
*.bak
*.back
*.swp
*.log
*~
.DS_Store
.idea/
._.DS_Store
web/resize/
nbproject/
robots.txt
