{% extends "WeimiWebBundle:Homepage:index.html.twig" %}

{% block head_css %}
    {{ parent() }}
    {% stylesheets
    '@WeimiWebBundle/Resources/public/css/page/Home/noman.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html">
    {% endstylesheets %}
{% endblock %}

{% block noman %}
<div id="no-man">
    <div class="inner cl">
        <img src="/bundles/weimiweb/no-man.jpg">
        <p>
            非常抱歉…种种迹象显示，你是……一名男士，<br>
            薇蜜还在邀请测试中，等开放注册后，男性用户可以浏览姑娘们对自己的点评。
        </p>
    </div>
</div>
{% endblock %}